body {
  margin: 0px;
  background-color: #A1B2A6;
  font-family: sans-serif;
}
#main {
  float: right; 
  width: 80%;
  height: 70vh;
}
#menu-up {
  position: relative;
  height: 20vh;
  width: 100%;
  background-color: #1D3324;
  border-bottom: solid black;
  text-align: center;
  color: #A1B2A6;
  font-size: 60pt;
}
#menu-left {

  height: 70vh;
  width: 20%;
  background-color: #768D7D;
  float:left;
  border-right: solid black;
  text-align: center;
  padding-top: 200px;

}
#footer {
  height: 10vh;
  width: 100%;
  background-color: grey;
  clear:both;
  border-top: solid black;
  font-size: 30pt;
  text-align: center;
  font-weight: bold;
}
#logo {
  height: 9vh;
  width: 200px;
  color: lightblue;
  background-color: black;
  border: lightblue solid;
  text-align: center;
  font-size: 15pt;
  padding-top: 4vh;
  float: left;
  
}
* {box-sizing:border-box}
#cud1 {
  padding-top: 30px;
  font-size: 20pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 15%;
  bottom: 10%;
}
#cud2 {
  padding-top: 30px;
  font-size: 20pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 25%;
  bottom: 10%;
}
#cud3 {
  padding-top: 30px;
  font-size: 20pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 35%;
  bottom: 10%;
}
#cud4 {
  padding-top: 30px;
  font-size: 20pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 45%;
  bottom: 10%;
}
#cud5 {
  padding-top: 30px;
  font-size: 20pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 55%;
  bottom: 10%;
}
#cud6 {
  padding-top: 20px;
  font-size: 16pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 65%;
  bottom: 10%;
}
#cud7 {
  padding-top: 20px;
  font-size: 16pt;
  color: black;
  text-align: center;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-right: solid black 5px;
  border-bottom: solid black 5px;
  position: absolute;
  bottom: 0px;
  background-color: #fffdd0;
  height: 10vh;
  width: 10%;
  left: 75%;
  bottom: 10%;
}
table {
  border: solid black 3px;
  background-color: whitesmoke;
  margin: 10px;
}
td {
  border: solid black;
}
p {
  margin: 10px;
  font-size: 18pt;
}
h1 {
  text-align: center;
  font-size: 30pt;
}
h2 {
  margin-left: 20px;
  font-size: 30pt;
}
ul {
  font-size: 20pt;
}
form {
  margin: 10px;
  font-size: 12pt;
}
.center {
  text-align: center;
  margin: 10px;
}
@media screen and (max-width: 600px) {
  a {
    font-size: 8pt;
  }
  #cud1, #cud2, #cud3, #cud4, #cud5, #cud6, #cud7 {
    font-size: 6pt;
  }

}

@media screen and (min-width: 600px) and (max-width: 1200px){
  a { 
    font-size: 12pt;
  }
  #cud1, #cud2, #cud3, #cud4, #cud5, #cud6, #cud7 {
    font-size: 12pt;
  }
}
@media screen and (min-width: 1200px){
  a { 
    font-size: 16pt;
  }
  #cud1, #cud2, #cud3, #cud4, #cud5, #cud6, #cud7 {
    font-size: 20pt;
  }
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
 }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}
